@{
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";

}
<!--您的位置-->
<div class="news-page">
    <ul class="location">
        <p>您现在的位置：</p>
        <li><a href="/" name="1">首页</a></li>
        <li>></li>
        <li><a href="/web/ryzz">荣誉资质</a></li>
    </ul>

    <div class="enterprise-text-out">
        <ul class="enterprise-but-box">
            <li><a href="/web/AboutUS">企业介绍</a></li>
            <li class="enterprise-but"><a href="/web/ryzz">荣誉资质</a></li>
        </ul>
        <h3>
            后顾无忧荣誉资质
            <div class="">HONORARY CERTIFICATE</div>
        </h3>

        <div class="honor-out">
            @{
                List<Dao.news> list = ViewBag.List;
                foreach (var item in list)
                {
                    <div class="honor-box fl">
                        <h3>@item.newstitle</h3>
                        <img src="@item.newslogo" />
                    </div>
                }
            }
        </div>

    </div>
</div>


<!--联系我们-->
<div class="contact-out ">
    <div class="news-title">
        <h2>联系我们</h2>
        <div>CONTACT US</div>
    </div>
    <div class="contact-box">
        <ul>
            <li class="address">
                <div><img src="/Content/Web/images/address.png" /></div>
                <p>@ViewBag.Address</p>
            </li>

            <li>
                <div><img src="/Content/Web/images/phone.png" /></div>
                @ViewBag.Tel
            </li>

            <li>
                <div><img src="/Content/Web/images/e-mail.png" /></div>
                @ViewBag.Email
            </li>
        </ul>
    </div>
</div>
@section scripts{
    <script>
        $(function () {
            $("#li_aboutus").addClass("index");
            /*新闻资讯*/
            $(".news-page-left-main ul").hide();
            $(".news-page-left-main ul:first").show();
            $(".news-page-left-title ul li").mouseenter(function () {
                n = $(this).index();
                $(".news-page-left-title ul li").removeClass("news-page-left-title1").eq(n).addClass("news-page-left-title1");
                $(".news-page-left-main ul").hide().eq(n).fadeIn(200);
            })
            /*联系我们*/
            $(".contact-box ul li").mouseenter(function () {
                $(this).find("div").animate({ marginLeft: 30 }, 300)
            }).mouseleave(function () {
                $(this).find("div").animate({ marginLeft: 0 }, 300)
            })
        })
    </script>
}
